<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="General">
		<setting label="Port" type="number" id="port" default="21"/>

		<setting label="Enable User1?" type="bool" id="user1_enabled" default="false"/>
		<setting label="Path1" type="text" id="path1" default="/sdcard/Android/data/org.xbmc.kodi/files/.kodi/"/>
		<setting label="User1" type="text" id="user1" default="kodi"/>
		<setting label="Password User1" type="text" id="password1" default="kodi"/>

		<setting label="Enable User2?" type="bool" id="user2_enabled" default="false"/>
		<setting label="Path2" type="text" id="path2"/>
		<setting label="User2" type="text" id="user2" default=""/>
		<setting label="Password User2" type="text" id="password2" default=""/>

		<setting label="Enable User3?" type="bool" id="user3_enabled" default="false"/>
		<setting label="Path3" type="folder" id="path3"/>
		<setting label="User3" type="text" id="user3" default=""/>
		<setting label="Password User3" type="text" id="password3" default=""/>

		<setting label="Enable User4?" type="bool" id="user4_enabled" default="false"/>
		<setting label="Path4" type="folder" id="path4"/>
		<setting label="User4" type="text" id="user4" default=""/>
		<setting label="Password User4" type="text" id="password4" default=""/>

		<setting label="Enable User5?" type="bool" id="user5_enabled" default="false"/>
		<setting label="Path5" type="folder" id="path5"/>
		<setting label="User5" type="text" id="user5" default=""/>
		<setting label="Password User5" type="text" id="password5" default=""/>

		<setting label="Enable anonymous login ?" type="bool" id="anonymous_enabled" default="false"/>
		<setting label="Anonymous Path" type="text" id="anonymous_path" default=""/>
	</category>
</settings>