<settings>
    <category label="Discord">
        <setting id="app_id" type="text" label="Discord App ID" default="1244203892145786992" visible="false"/>
        <setting id="user_token" type="text" label="Discord User Token" option="hidden"/>
    </category>

    <category label="Customization">
        <setting id="icon_color" type="select" label="Icon Color" values="Greyscale|Colored" default="0"/>
    </category>
</settings>