<settings>
    <category label="Discord">
        <setting id="app_id" type="text" label="Discord App ID" default="123456789012345678"/>
        <setting id="user_token" type="text" label="Discord User Token" option="hidden"/>
    </category>
    <category label="Home Assistant">
        <setting id="ha_url" type="text" label="Home Assistant URL" default="http://homeassistant.local:8123"/>
        <setting id="ha_token" type="text" label="Home Assistant Long-Lived Token" option="hidden"/>
        <setting id="sensor_detail" type="text" label="Sensor für Details" default="sensor.details"/>
        <setting id="sensor_state" type="text" label="Sensor für State" default="sensor.state"/>
    </category>
</settings>