<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="30000">
        <setting label="30001" type="action" id="login" option="close"
                 action="RunPlugin(plugin://plugin.video.joyn/?mode=login)"/>
        <setting label="30002" type="action" id="logout" option="close"
                 action="RunPlugin(plugin://plugin.video.joyn/?mode=logout)"/>
        <setting label="30003" type="bool" id="show_login_notification" default="true"/>
        <setting label="30004" type="text" id="email" default="" option="hidden"/>
        <setting label="30005" type="text" id="password" default="" option="hidden"/>
        <setting label="30006" type="text" id="access_token" default="" option="hidden"/>
        <setting label="30007" type="text" id="refresh_token" default="" option="hidden"/>
        <setting label="30008" type="number" id="token_expires" default="0" option="hidden"/>
        <setting label="30009" type="text" id="user_id" default="" option="hidden"/>
        <setting label="30010" type="text" id="profile_id" default="" option="hidden"/>
        <setting label="30011" type="bool" id="has_account" default="false" option="hidden"/>
    </category>
    <category label="30012">
        <setting label="30013" type="select" id="stream_quality" values="240p|360p|432p|540p|720p|1080p|1440p|2160p" default="1080p"/>
        <setting label="30014" type="bool" id="show_content_with_plus" default="true"/>
        <setting label="30015" type="bool" id="show_content_without_plus" default="true"/>
        <setting label="30016" type="bool" id="show_premium_content" default="true"/>
        <setting label="30017" type="bool" id="show_free_content" default="true"/>
        <setting label="30018" type="select" id="video_stream_type" values="DASH|HLS|HLS (progressive)" default="DASH"/>
        <setting label="30019" type="select" id="audio_stream_type" values="DASH|HLS" default="DASH"/>
        <setting label="30020" type="bool" id="show_fqdn_in_stream_url" default="false"/>
        <setting label="30021" type="bool" id="force_widevine" default="false"/>
        <setting label="30022" type="text" id="wv_security_level" default="L3" visible="eq(-1,true)"/>
        <setting label="30023" type="bool" id="use_drm_proxy" default="false" visible="eq(-2,true)"/>
        <setting label="30024" type="text" id="drm_proxy_port" default="54321" visible="eq(-1,true)"/>
        <setting label="30025" type="bool" id="use_geoblocking_proxy" default="false"/>
        <setting label="30026" type="number" id="geoblocking_proxy_port" default="12345" visible="eq(-1,true)"/>
        <setting label="30027" type="bool" id="disable_ssl_verification" default="false"/>
        <setting label="30028" type="text" id="user_agent" default="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"/>
        <setting label="30029" type="bool" id="show_subtitles" default="true"/>
        <setting label="30030" type="bool" id="show_audio_description" default="false"/>
        <setting label="30031" type="bool" id="show_sign_language" default="false"/>
    </category>
    <category label="30104">
        <setting label="30100" type="folder" id="export_path_movies" default="" source="local" option="writeable"/>
        <setting label="30101" type="folder" id="export_path_tvshows" default="" source="local" option="writeable"/>
        <setting label="30102" type="bool" id="export_nfo" default="true"/>
    </category>
    <category label="30032">
        <setting label="30033" type="number" id="last_seen_items_count" default="20"/>
        <setting label="30034" type="bool" id="show_last_seen_in_main_menu" default="true"/>
    </category>
    <category label="30035">
        <setting label="30036" type="bool" id="show_search_in_main_menu" default="true"/>
        <setting label="30037" type="number" id="search_items_count" default="20"/>
        <setting label="30038" type="bool" id="save_search_history" default="true"/>
        <setting label="30039" type="bool" id="show_search_history_in_main_menu" default="true" visible="eq(-1,true)"/>
        <setting label="30040" type="action" id="clear_search_history" option="close" label="30041"
                 action="RunPlugin(plugin://plugin.video.joyn/?mode=clear_search_history)" visible="eq(-2,true)"/>
        <setting label="30042" type="text" id="search_history" default="" option="hidden"/>
    </category>
    <category label="30043">
        <setting label="30049" type="action" id="clear_cache" option="close" label="30050"
                 action="RunPlugin(plugin://plugin.video.joyn/?mode=clear_cache)"/>
        <setting label="30051" type="bool" id="show_live_tv_in_main_menu" default="true"/>
        <setting label="30052" type="bool" id="show_live_tv_previews" default="true" visible="eq(-1,true)"/>
        <setting label="30053" type="bool" id="show_ondemand_in_main_menu" default="true"/>
        <setting label="30054" type="bool" id="show_originals_in_main_menu" default="true"/>
        <setting label="30055" type="bool" id="show_categories_in_main_menu" default="true"/>
        <setting label="30056" type="bool" id="show_sports_in_main_menu" default="true"/>
        <setting label="30057" type="bool" id="show_hbbtv_in_main_menu" default="false"/>
        <setting label="30058" type="bool" id="show_settings_in_main_menu" default="true"/>
        <setting label="30059" type="bool" id="use_kodi_rating" default="true"/>
        <setting label="30060" type="bool" id="use_kodi_caching" default="true"/>
        <setting label="30061" type="number" id="kodi_caching_time" default="3600" visible="eq(-1,true)"/>
        <setting label="30062" type="bool" id="check_updates" default="true"/>
        <setting label="30063" type="number" id="check_update_interval" default="24" visible="eq(-1,true)"/>
        <setting label="30064" type="bool" id="show_preroll_warning" default="true"/>
        <setting label="30065" type="number" id="default_view" default="50" option="hidden"/>
        <setting label="30066" type="number" id="thumbnail_view" default="500" option="hidden"/>
        <setting label="30067" type="number" id="season_view" default="504" option="hidden"/>
        <setting label="30068" type="number" id="episode_view" default="504" option="hidden"/>
        <setting label="30069" type="number" id="movie_view" default="500" option="hidden"/>
    </category>
</settings>
